* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 231, 218);
}

header {
    background-color: brown;
    height: 85px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

@import 'elements/lang-select.scss';